body
{
    background-color: rgb(126, 162, 230);
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#array-container td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid black;
}
.current-pos {
    background-color: red;
}
.coords
{
    display:flex;
    position: absolute;
    top: 21em;
}
.north
{
    position:relative;
    width: 60px;
    height: 20px;
    top: 10px;
    left: 97px;
}
.west
{
    position:relative;
    width: 60px;
    height: 20px;
    top: 25px;
    right: 94px;
}
.east
{
    position:relative;
    width: 60px;
    height: 20px;
    top: 25px;
    right: 32px
}
.south
{
    position:relative;
    width: 60px;
    height: 20px;
    top: 40px;
    left: 33px;
}
table
{
    border-color: black;
    border-style: double;
}
td
{
    width: 2cm;
    height: 2cm;
    border-color: black;
    border-style: double;
}
.zombie {
    background-color: purple;
}
.kitty {
    background-color: coral;
}
.gameimage
{
    width: 500px;
    height: 300px;
}