body
{
    background-color: rgb(126, 162, 230);
}










.coords
{
    display:flex;
    position: absolute;
    top: 21em;
}
.north
{
    position: absolute;
    width: 80px;
    height: 25px;
    top: 28.5em;
    left: 5em;
}
.west
{
    position: absolute;
    width: 80px;
    height: 25px;
    top: 30.5em;
}
.east
{
    position: absolute;
    width: 80px;
    height: 25px;
    top: 30.5em;
    left: 10em;
}
.south
{
    position: absolute;
    width: 80px;
    height: 25px;
    top: 32.5em;
    left: 5em;
}
table
{

    border-color: black;
    border-style: double;
}
td
{
    border-color: black;
    border-style: double;
}